<a href="https://colab.research.google.com/github/johnnysDeu/machineLearning/blob/main/RaisinIdent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [379]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import sklearn

In [380]:
url='https://raw.githubusercontent.com/johnnysDeu/machineLearning/main/Raisin_Dataset.csv' 
data = pd.read_csv(url)

In [381]:
data

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,Kecimen
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,Kecimen
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,Kecimen
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,Kecimen
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,Kecimen
...,...,...,...,...,...,...,...,...
895,83248,430.077308,247.838695,0.817263,85839,0.668793,1129.072,Besni
896,87350,440.735698,259.293149,0.808629,90899,0.636476,1214.252,Besni
897,99657,431.706981,298.837323,0.721684,106264,0.741099,1292.828,Besni
898,93523,476.344094,254.176054,0.845739,97653,0.658798,1258.548,Besni
899,85609,512.081774,215.271976,0.907345,89197,0.632020,1272.862,Besni

In [382]:
result=pd.get_dummies(data['Class'],drop_first=True) #sex column is converted to binary 
result

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [383]:
print(list(data.columns))

['Area', 'MajorAxisLength', 'MinorAxisLength', 'Eccentricity', 'ConvexArea', 'Extent', 'Perimeter', 'Class']

In [384]:
y=result
y

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [385]:
cols=[ 'MajorAxisLength', 'MinorAxisLength', 'Eccentricity', 'ConvexArea', 'Extent', 'Perimeter']

In [386]:
data=data[cols]
data

,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter
0,442.246011,253.291155,0.819738,90546,0.758651,1184.040
1,406.690687,243.032436,0.801805,78789,0.684130,1121.786
2,442.267048,266.328318,0.798354,93717,0.637613,1208.575
3,286.540559,208.760042,0.684989,47336,0.699599,844.162
4,352.190770,290.827533,0.564011,81463,0.792772,1073.251
...,...,...,...,...,...,...
895,430.077308,247.838695,0.817263,85839,0.668793,1129.072
896,440.735698,259.293149,0.808629,90899,0.636476,1214.252
897,431.706981,298.837323,0.721684,106264,0.741099,1292.828
898,476.344094,254.176054,0.845739,97653,0.658798,1258.548
899,512.081774,215.271976,0.907345,89197,0.632020,1272.862

In [387]:
X=data

In [388]:
Xnew=X.to_numpy()
ynew=y.to_numpy()

In [389]:
X

,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter
0,442.246011,253.291155,0.819738,90546,0.758651,1184.040
1,406.690687,243.032436,0.801805,78789,0.684130,1121.786
2,442.267048,266.328318,0.798354,93717,0.637613,1208.575
3,286.540559,208.760042,0.684989,47336,0.699599,844.162
4,352.190770,290.827533,0.564011,81463,0.792772,1073.251
...,...,...,...,...,...,...
895,430.077308,247.838695,0.817263,85839,0.668793,1129.072
896,440.735698,259.293149,0.808629,90899,0.636476,1214.252
897,431.706981,298.837323,0.721684,106264,0.741099,1292.828
898,476.344094,254.176054,0.845739,97653,0.658798,1258.548
899,512.081774,215.271976,0.907345,89197,0.632020,1272.862

In [390]:
y

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [391]:
#perm = np.random.permutation(y.size)
#PRC = 0.7
#plit_point = int(np.ceil(y.shape [0]* PRC))
X_test = Xnew[perm [:180].ravel(),:]
y_test = ynew[perm [:180].ravel()]
X_train = Xnew[perm [180:].ravel(),:]
y_train = ynew[perm [180:].ravel()]

In [392]:
#X_test = Xnew[[:180].ravel(),:]
#y_test = ynew[:180].ravel()
#X_train = Xnew[180:].ravel()
#y_train = ynew[180:].ravel()

In [393]:
#perm

In [394]:
#X_test

In [395]:
#X_train

In [396]:
#y_train

In [397]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=3)
knc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [398]:
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
y_pred = knc.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.85      0.80      0.82        93
           1       0.80      0.85      0.82        87

    accuracy                           0.82       180
   macro avg       0.82      0.82      0.82       180
weighted avg       0.82      0.82      0.82       180

0.8231368186874305

In [399]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2)#max_depth=8
tree.fit(X_train, y_train)
y_pred = tree.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.94      0.80      0.86        93
           1       0.81      0.94      0.87        87

    accuracy                           0.87       180
   macro avg       0.87      0.87      0.87       180
weighted avg       0.88      0.87      0.87       180

0.8691138301816833

In [400]:
#prediction=pd.cut(y_pred,bins=[0,0.5,1],labels=['N','Y'])
#ypred = (prediction == 'Y').astype(int)

In [401]:
#from sklearn.ensemble import RandomForestRegressor
#rf = RandomForestRegressor()#max_features=0.45, n_estimators=85
#rf.fit(X_train, y_train)
#y_pred = rf.predict(X_test)
#print(classification_report(y_test, ypred))
#roc_auc_score(y_test, ypred)