<a href="https://colab.research.google.com/github/johnnysDeu/machineLearning/blob/main/RaisinIdent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import sklearn

In [26]:
url='https://raw.githubusercontent.com/johnnysDeu/machineLearning/main/Raisin_Dataset.csv' 
data = pd.read_csv(url)

In [27]:
data

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,Kecimen
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,Kecimen
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,Kecimen
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,Kecimen
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,Kecimen
...,...,...,...,...,...,...,...,...
895,83248,430.077308,247.838695,0.817263,85839,0.668793,1129.072,Besni
896,87350,440.735698,259.293149,0.808629,90899,0.636476,1214.252,Besni
897,99657,431.706981,298.837323,0.721684,106264,0.741099,1292.828,Besni
898,93523,476.344094,254.176054,0.845739,97653,0.658798,1258.548,Besni
899,85609,512.081774,215.271976,0.907345,89197,0.632020,1272.862,Besni

In [28]:
result=pd.get_dummies(data['Class'],drop_first=True) #sex column is converted to binary 
result

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [29]:
print(list(data.columns))

['Area', 'MajorAxisLength', 'MinorAxisLength', 'Eccentricity', 'ConvexArea', 'Extent', 'Perimeter', 'Class']

In [30]:
y=result
y

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [70]:
cols=[ 'MajorAxisLength', 'MinorAxisLength', 'Eccentricity', 'ConvexArea', 'Extent', 'Perimeter']

In [71]:
data=data[cols]
data

,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter
0,442.246011,253.291155,0.819738,90546,0.758651,1184.040
1,406.690687,243.032436,0.801805,78789,0.684130,1121.786
2,442.267048,266.328318,0.798354,93717,0.637613,1208.575
3,286.540559,208.760042,0.684989,47336,0.699599,844.162
4,352.190770,290.827533,0.564011,81463,0.792772,1073.251
...,...,...,...,...,...,...
895,430.077308,247.838695,0.817263,85839,0.668793,1129.072
896,440.735698,259.293149,0.808629,90899,0.636476,1214.252
897,431.706981,298.837323,0.721684,106264,0.741099,1292.828
898,476.344094,254.176054,0.845739,97653,0.658798,1258.548
899,512.081774,215.271976,0.907345,89197,0.632020,1272.862

In [72]:
X=data

In [73]:
Xnew=X.to_numpy()
ynew=y.to_numpy()

In [74]:
X

,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter
0,442.246011,253.291155,0.819738,90546,0.758651,1184.040
1,406.690687,243.032436,0.801805,78789,0.684130,1121.786
2,442.267048,266.328318,0.798354,93717,0.637613,1208.575
3,286.540559,208.760042,0.684989,47336,0.699599,844.162
4,352.190770,290.827533,0.564011,81463,0.792772,1073.251
...,...,...,...,...,...,...
895,430.077308,247.838695,0.817263,85839,0.668793,1129.072
896,440.735698,259.293149,0.808629,90899,0.636476,1214.252
897,431.706981,298.837323,0.721684,106264,0.741099,1292.828
898,476.344094,254.176054,0.845739,97653,0.658798,1258.548
899,512.081774,215.271976,0.907345,89197,0.632020,1272.862

In [75]:
y

     Kecimen
0          1
1          1
2          1
3          1
4          1
..       ...
895        0
896        0
897        0
898        0
899        0

[900 rows x 1 columns]

In [76]:
perm = np.random.permutation(y.size)
#PRC = 0.7
#plit_point = int(np.ceil(y.shape [0]* PRC))
X_test = Xnew[perm [:180].ravel(),:]
y_test = ynew[perm [:180].ravel()]
X_train = Xnew[perm [180:].ravel(),:]
y_train = ynew[perm [180:].ravel()]

In [77]:
perm

array([426, 885, 186, 514, 842, 716, 365,  35, 361, 621, 381, 280, 637,
       619, 349,  22, 176, 331, 786, 242, 298, 290, 706, 152, 587, 800,
       417, 608, 740, 890, 806, 255, 683, 253, 883, 114, 882, 497, 546,
       839, 158, 856, 447, 240, 248, 553,  56, 711, 666, 702, 668, 733,
       775,  97, 396, 595, 174, 687, 561,  44, 461, 594, 700, 103, 569,
       596, 475,  87, 459,  69, 633, 107, 196, 793, 848, 780, 865, 732,
       216,  33,  53,  28, 265, 264, 424, 344, 268, 770,  86, 777, 547,
       712, 751, 109, 557,  19, 159, 548, 688, 797, 301, 584,  64, 307,
       420,  99, 520,  15, 309,  43, 488, 485, 339, 810, 626, 276,  54,
       342, 478, 314,  38, 304, 356, 835, 787, 748, 678, 632, 758, 681,
       323, 888, 468, 432, 671,  79, 864, 181,   3, 456,  96, 476, 101,
       819, 457, 504,  80,  91, 869, 373, 293, 693, 391, 799, 407, 610,
       202, 843, 516, 353, 442, 665, 134, 258, 611, 222, 660, 807, 123,
       852, 849, 302, 570, 620, 735, 605, 689, 263, 409, 283, 896, 482,
       838, 674,  62, 310, 277, 250, 207, 228, 771, 469, 126, 208, 725,
       655, 756, 162, 455, 440,  47, 625, 881, 130, 844, 566, 245,  85,
        78,  36, 664, 430, 466, 431, 336, 812, 182, 363,   6, 822, 173,
       303, 739, 160, 564, 209, 817, 104, 402, 154, 352, 884, 498, 462,
       870, 197, 556, 308, 337, 415, 214, 397, 515, 244, 893, 877, 513,
       351, 672, 543, 170, 288, 135, 445, 357, 554, 241,  34, 166, 697,
       846, 731, 237, 359, 726, 643, 784, 574, 436, 703, 785, 423, 215,
       828, 650, 685, 847, 811, 661, 657,   2, 791, 486, 438,  37, 644,
       692, 205, 861, 259,  72, 767, 266, 281,  83, 558,  30, 656, 499,
       124, 798, 601, 728, 826, 859, 326, 171, 718, 464, 642, 370, 163,
       517, 613, 523, 597, 533,  41, 691, 634, 221, 156, 525, 435,  20,
       544, 796, 582,  49, 164, 575, 509, 897, 144, 765, 267, 586, 116,
         5, 673,  39, 653, 862,  31, 899, 629,  76, 390, 408, 213, 112,
       106, 471, 609, 477, 143, 723, 710,  73, 340, 529, 536, 737, 518,
       759, 327, 647, 867, 636, 760, 328,  94, 358, 111, 589, 752, 410,
       851,  50, 659, 614, 627, 312, 224,  57, 820, 138, 747, 654, 140,
       465, 422, 201, 679, 757, 724, 663,  40, 118, 892,  66, 563, 571,
       669, 545, 707, 271, 153, 753, 641, 395, 878, 662, 565, 330, 537,
       113, 863, 295, 168, 607, 247, 535, 638, 773, 887, 448,  11, 742,
       145, 646, 503, 698, 530, 297, 392, 717, 262, 622, 526, 764,  74,
       319, 439, 383, 755, 898, 541, 325, 285, 830, 125,  18, 211, 291,
        82, 808, 141, 194, 682, 815, 508, 204, 699, 615, 524, 110,  48,
       401, 551, 446, 573, 479, 305, 730,  12,  10, 238,  46, 721, 845,
       489, 492,  60, 132, 161, 225, 366, 639, 506, 467,   9, 704, 403,
       231, 129,  68, 382, 338, 850, 591,  58, 177, 713, 155, 889, 236,
       206, 727,  75, 836, 500,  98, 256, 490, 534, 505, 522, 790, 542,
       133, 306, 362, 184, 680, 640, 149,  24, 879, 157, 389, 324,  16,
       789, 874, 576, 232, 567, 296, 425, 428,  27, 284, 876,  52,   7,
       886, 630, 187, 853, 367,   1, 604, 192, 749, 579, 355, 769, 364,
       602, 618, 433,  45, 648, 191, 195, 782, 651, 427, 624, 269, 708,
       496, 658, 831, 827, 150, 645, 343, 399, 251, 577, 167, 406, 412,
       834, 880, 512,  17, 444, 600, 203, 795, 243,  95, 147, 766, 501,
       385, 200, 598, 781, 894, 493, 292, 667, 794, 696, 825, 300,  70,
        81, 210, 588, 108, 555, 388, 670, 568, 180, 329, 583, 854, 148,
       335, 289, 762, 273, 183, 404, 105, 454, 833, 378, 841, 411, 837,
       317, 495, 127, 720, 316, 745, 322,  90, 824, 519, 738, 146, 814,
       491, 294, 117, 805, 494, 722, 345, 729, 581, 481, 315, 443, 623,
       891, 178, 278,  32, 451, 580, 398, 188, 341, 346, 219, 165, 252,
       393, 528, 175, 313,  84,  26, 372,  77, 332, 223, 487, 750, 368,
       823, 816, 744, 405,  71, 480, 286, 460, 552, 414, 179,  67,  93,
       120, 593, 875, 434, 287, 768, 635, 299, 792, 754, 562, 540, 736,
       119, 261, 272, 254, 840, 376, 321, 521, 142, 470,   8, 617, 374,
       229, 199, 532, 741, 226, 686, 122,   0, 818, 572, 860, 550, 776,
       384, 379, 172, 386, 677, 538,  89, 418, 234, 227, 218, 649, 801,
       484, 115, 709, 275, 684, 333, 715, 421, 694, 136, 189, 121, 282,
       169, 578, 690, 772, 857, 531, 813, 483, 783, 474,  14, 719, 235,
       763, 375, 413, 449, 128, 616,  59, 458, 502,  92, 260, 511, 441,
       559, 779, 695, 788, 872, 821, 450, 549, 527, 190, 606, 705, 347,
       320, 868, 803, 452,  21,  55, 369, 676, 348, 778, 832, 217, 400,
       871, 539, 592, 230, 416,  13,  23, 380,  51, 895, 473, 239, 151,
       185, 437, 453, 131, 377, 858, 612, 257, 311, 270, 246, 193, 734,
       701, 802, 746, 774, 809, 350, 761, 472, 354, 279,  63, 714, 360,
       829, 212, 102, 137, 274,  42, 139,  61, 394, 419, 429, 855, 590,
       371, 510, 603, 599, 804, 387, 675, 560,   4, 318, 463,  65, 873,
        29, 334, 743, 507, 220,  88, 631, 585, 198, 652, 249, 866, 100,
       233,  25, 628])

In [104]:
#X_test

In [103]:
#X_train

In [102]:
#y_train

In [81]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=1)
knc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [82]:
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
y_pred = knc.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.82      0.78      0.80        94
           1       0.77      0.81      0.79        86

    accuracy                           0.79       180
   macro avg       0.79      0.80      0.79       180
weighted avg       0.80      0.79      0.79       180

0.7952746165264721

In [83]:
knc = KNeighborsClassifier(n_neighbors=2)
knc.fit(X_train, y_train)
y_pred = knc.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.75      0.84      0.79        94
           1       0.80      0.70      0.75        86

    accuracy                           0.77       180
   macro avg       0.78      0.77      0.77       180
weighted avg       0.78      0.77      0.77       180

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7690499752597724

In [84]:
knc = KNeighborsClassifier(n_neighbors=3)
knc.fit(X_train, y_train)
y_pred = knc.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.86      0.74      0.80        94
           1       0.76      0.87      0.81        86

    accuracy                           0.81       180
   macro avg       0.81      0.81      0.81       180
weighted avg       0.81      0.81      0.81       180

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8083869371598219

In [101]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2)#max_depth=8
tree.fit(X_train, y_train)
y_pred = tree.predict(X_test)
print(classification_report(y_test, y_pred))
roc_auc_score(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.88      0.86      0.87        94
           1       0.85      0.87      0.86        86

    accuracy                           0.87       180
   macro avg       0.87      0.87      0.87       180
weighted avg       0.87      0.87      0.87       180

0.8668975754576942

In [96]:
prediction=pd.cut(y_pred,bins=[0,0.5,1],labels=['N','Y'])
ypred = (prediction == 'Y').astype(int)

In [99]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()#max_features=0.45, n_estimators=85
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print(classification_report(y_test, ypred))
roc_auc_score(y_test, ypred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

              precision    recall  f1-score   support

           0       0.89      0.83      0.86        94
           1       0.83      0.88      0.85        86

    accuracy                           0.86       180
   macro avg       0.86      0.86      0.86       180
weighted avg       0.86      0.86      0.86       180

0.8567540821375557